.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-3{
    width: 25%;
    padding: 0 15px;
    margin-top: 50px;
}
.img-flag{
    width: 150px;
    height: 100px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
ul{
    list-style: none;
    color: white;
    font-size: 14px;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}